<main>
  <div class="title2">
    <span class="title3">title:<%= @book.title %></span>

  </div>
  <div class="title2">
    <span class=title3>Body:<%= @book.body %></span>


  </div>
    <div class="title2">
      <%=link_to "edit",edit_todolist_path %>
      |
      <%=link_to "back",index_path%>
    </div>
    <%=flash[:notice]%>

</main>
